<div id="page-wrap">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="category in generalController.categories">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="html/eshop.html">{{category.name}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" ng-repeat="subcategory in generalController.subcategories"
                                   ui-sref="category_1.1" ui-sref-active="category_1.1">{{subcategory.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <table border="2">
        <tr>
            <th>Name</th>
        </tr>
        <tr ng-repeat="subcategory in generalController.subcategories">
            <td>{{subcategory.name}}</td>
        </tr>
    </table>

    <h1>Eshop</h1>

    Some eshop things


</div>