<!DOCTYPE html>
<html>
<head>
    <title>Eshop</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="demo">



<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- CUSTOM JS -->
<script type="text/javascript" src="scripts/app/app.js"></script>
<script type="text/javascript" src="scripts/app/state.js"></script>
<script type="text/javascript" src="scripts/controller/general.controller.js"></script>
<script type="text/javascript" src="scripts/controller/home.controller.js"></script>
<script type="text/javascript" src="scripts/controller/subcategory.controller.js"></script>

<!-- SERVICE -->
<script type="text/javascript" src="scripts/service/subcategory.service.js"></script>
<script type="text/javascript" src="scripts/service/category.service.js"></script>
<script type="text/javascript" src="scripts/service/product.service.js"></script>


<div id="page-wrap" ng-controller="GeneralController as generalController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0);" ui-sref="home" ui-sref-active="home">Home</a></li>
                    <li class="dropdown" ng-repeat="category in generalController.categories">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           href="javascript:void(0);">{{category.name}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-repeat="subcategory in category.subcategories"
                                   href="javascript:void(0);"
                                   ng-click="generalController.goToSubcategoryPage(subcategory.id)">{{subcategory.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin name</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div ui-view="content">

</div>
</body>
</html>